{% extends 'base.html' %}
{% block content %}
    <h2>{{ object.title }}</h2>
    <ul class="list-group">
        {% for item in object.items.all %}
            <li class="list-group-item"><a href="#">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}