{% extends 'base.html' %}
{% block content %}
    <ul class="list-group">
        {% for category in object_list %}
            <li class="list-group-item"><a href="{{ category.get_absolute_url  }}">{{ category.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}