{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<h1 class="text-center">hello, {{ user.username }} from tradings app</h1>
    {% if items %}
        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">{{item.title}}&nbsp;&ndash; {{item.category}}&nbsp;&ndash; {{item.user}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>nothing here</h3>
    {% endif %}
{% else %}
    <h1 class="text-center">Hello, anonym user</h1>
    <p>please, register or login</p>
{% endif %}
{% endblock content %}