{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Tradings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{% url 'tradings:category-list' %}">categories</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="nav-item my-auto">{{ user.get_username }}</li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout'%}?next={{request.path}}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login'%}?next={{request.path}}">
                Log in
              </a>
            </li>
        {% endif %}
      </ul>
  </div>
</nav>