{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <form method="POST">
        <h2>Please Sign in</h2>{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Log in</button>
        <a class="btn btn-primary" href="{% url 'accounts:register' %}">Sign up</a>
    </form>
</div>
{% endblock %}