{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <form method="POST">
        <h2>Register</h2>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group
                {% if field.errors %} has-error {% endif %}">
                <label>{{ field.label }}</label>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}